.Footer {
  width: 25%;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50% , -50%);
  text-align: center; 
}

.open-img {
  top: 98%;
}

 h1 {
   font-family: Merriweather;
 }

 img {
   width: 100px;
 
 }

