body {
  font-family: Inconsolata;
}

.WeatherResult {
  width: 25%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}

.weather-icon {
  align-content: center;
  font-size: 40px;
}

.temperature-icon {
  
}
